// Fontawesome font path
$fa-font-path: "~font-awesome/fonts";

// Customize bootstrap
$theme-colors: (
  "primary": #007bff,
  "secondary": #6c757d,
  "success": #28a745,
  "danger": #dc3545,
  "warning": #ffc107,
  "info": #17a2b8
);

// User interface
$side-nav-width-collapsed: 0px;
$side-nav-width-expanded: 0px;
$loading-overlay-bg-color: rgba(map-get($theme-colors, secondary), 0.2);